.app-container {
  max-width: 900px;
  margin: 0 auto;
  padding: 1rem;
  box-sizing: border-box;
  text-align: center;
}

.match-container {
  max-width: 100%;
  padding: 1rem;
  box-sizing: border-box;
}

.iframe-container {
  position: relative;
  width: 100%;
  padding-bottom: 56.25%;
  height: 0;
}

.iframe-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0;
}

.submit-loader {
  display: flex;
  flex-direction: column; 
  align-items: center;
  padding: 2rem; 
}

.loader-message {
  margin-top: 1rem;
  font-size: 1.1rem;
  color: #333;
}

.server-loader-container {
  position: fixed;
  top: 16px;
  right: 16px;
  z-index: 1000;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  color: #3498db;
  width: max-content;
  padding-right: 20px;
  padding-top: 20px;
}

.report-loader-container {
  display: flex;
  flex-direction: column;
  align-items: center;

}

.pulse-text {
  color: #3498db;
  animation: pulse 1.5s ease-in-out infinite;
  font-size: 13px;
}

.report-button {
  display: inline-block;
  padding: 0.5rem 1rem;
  margin-left: 0.5rem;
  font-size: 0.9rem;
  font-weight: 500;
  color: #161111;
  background-color: #f9f9f9;
  border: 1px solid lightgray;
  border-radius: 6px;
  cursor: pointer;
  transition: transform 0.1s ease, box-shadow 0.2s ease, background-color 0.2s ease;
}

.report-button:hover {
  background-color: #ffffff;
  box-shadow: 0 4px 12px rgba(0,0,0,0.15);
  /* border-color: #646cff; */
  transform: translateY(1px);
}

.report-button:active {
  box-shadow: 0 2px 6px rgba(0,0,0,0.2);
}

.report-class {
  padding: 12px;
  margin-bottom: 16px;
  border-radius: 6px;
  font-weight: bold;
  text-align: center;
}

@keyframes pulse {
  0%,
  100% {
    opacity: 0.5;
    transform: scale(1);
  }

  50% {
    opacity: 1;
    transform: scale(1.05);
  }
}

@media (max-width: 480px) {
  .server-loader-container {
    position: absolute;
    top: 8px;
    right: 8px;
    font-size: 0.9rem;
  }
}